In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.read_csv("/content/pairs-label-training (1) (1).csv")

In [ ]:
df1
df1['Code'].value_counts()

0    80400
1    75551
Name: Code, dtype: int64

In [ ]:
df2 = pd.read_csv("/content/datainteriit (1).csv")

In [ ]:
df2

      Unique id                                               text
0             1  Besides these forests naturally developed fore...
1             2  Your mother cleans the rice by separating husk...
2             3  All free gifts of nature and all things which ...
3             4  Humanism - the concept that man is the measure...
4             5  Various designs in clothing are found dependin...
...         ...                                                ...
1995       1996  Bring both the ends of threads together and pu...
1996       1997  What is the duration of the longest day in Dec...
1997       1998  PotassiumProtein synthesisEnables the opening ...
1998       1999  To prevent water pollution in our country prim...
1999       2000  This game was used effectively in sports educa...

[2000 rows x 2 columns]

In [ ]:
import nltk

In [ ]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
def punctuationfree(text):
  punctuation_free = "".join([i for i in text if i not in string.punctuation])
  return punctuation_free

In [ ]:
df2['Punctuation_free_text'] = df2['text'].apply(lambda x:punctuationfree(x))

In [ ]:
df2

,Unique id,text,Punctuation_free_text
0,1,Besides these forests naturally developed fore...,Besides these forests naturally developed fore...
1,2,Your mother cleans the rice by separating husk...,Your mother cleans the rice by separating husk...
2,3,All free gifts of nature and all things which ...,All free gifts of nature and all things which ...
3,4,Humanism - the concept that man is the measure...,Humanism the concept that man is the measure ...
4,5,Various designs in clothing are found dependin...,Various designs in clothing are found dependin...
...,...,...,...
1995,1996,Bring both the ends of threads together and pu...,Bring both the ends of threads together and pu...
1996,1997,What is the duration of the longest day in Dec...,What is the duration of the longest day in Dec...
1997,1998,PotassiumProtein synthesisEnables the opening ...,PotassiumProtein synthesisEnables the opening ...
1998,1999,To prevent water pollution in our country prim...,To prevent water pollution in our country prim...
1999,2000,This game was used effectively in sports educa...,This game was used effectively in sports educa...

In [ ]:
df2['lower_case'] = df2['Punctuation_free_text'].apply(lambda x:x.lower())

In [ ]:
df2

,Unique id,text,Punctuation_free_text,lower_case
0,1,Besides these forests naturally developed fore...,Besides these forests naturally developed fore...,besides these forests naturally developed fore...
1,2,Your mother cleans the rice by separating husk...,Your mother cleans the rice by separating husk...,your mother cleans the rice by separating husk...
2,3,All free gifts of nature and all things which ...,All free gifts of nature and all things which ...,all free gifts of nature and all things which ...
3,4,Humanism - the concept that man is the measure...,Humanism the concept that man is the measure ...,humanism the concept that man is the measure ...
4,5,Various designs in clothing are found dependin...,Various designs in clothing are found dependin...,various designs in clothing are found dependin...
...,...,...,...,...
1995,1996,Bring both the ends of threads together and pu...,Bring both the ends of threads together and pu...,bring both the ends of threads together and pu...
1996,1997,What is the duration of the longest day in Dec...,What is the duration of the longest day in Dec...,what is the duration of the longest day in dec...
1997,1998,PotassiumProtein synthesisEnables the opening ...,PotassiumProtein synthesisEnables the opening ...,potassiumprotein synthesisenables the opening ...
1998,1999,To prevent water pollution in our country prim...,To prevent water pollution in our country prim...,to prevent water pollution in our country prim...
1999,2000,This game was used effectively in sports educa...,This game was used effectively in sports educa...,this game was used effectively in sports educa...

In [ ]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
df2['tokenized_data'] = df2['lower_case'].apply(lambda x:word_tokenize(x))

In [ ]:
df2.to_csv('submission.csv')

In [ ]:
from IPython.display import HTML

In [ ]:
def create_download_link(title = "Download CSV file", filename = "data.csv"):  
    html = '<a href={filename}>{title}</a>'
    html = html.format(title=title,filename=filename)
    return HTML(html)

# create a link to download the dataframe which was saved with .to_csv method
create_download_link(filename='submission.csv')

In [ ]:
df2.to_csv('/content/file_name.csv')

In [ ]:
bag = {'he', 'she', 'her' , 'his' , 'him', 'boy', 'boys', 'girl', 'girls', 'man', 'men', 'woman', 'women', 'son', 'daughter', 'mother', 'mothers', 'father', 'fathers', 'brother', 'brothers', 'sister', 'sisters','male','males','female','females','sons','daughters','sir','miss','husband','wife','husbands','wives','prince','princess','king','queen','mom','dad','housewife','housewives','workmen','workwomen' }

In [ ]:
len(bag)

45

In [ ]:
def find_label(text_array, bag_of_words = bag):
  label = 0
  for x in bag_of_words:
    if x in text_array:
      label = 1
  return label

In [ ]:
df2['label'] = df2['tokenized_data'].apply(lambda x:find_label(x))

In [ ]:
df2[df2['Unique id']==306]

,Unique id,text,Punctuation_free_text,lower_case,tokenized_data,label
305,306,"We daily starve, having had no foodgrain in ou...",We daily starve having had no foodgrain in our...,we daily starve having had no foodgrain in our...,"[we, daily, starve, having, had, no, foodgrain...",1

In [ ]:
df2

,Unique id,text,Punctuation_free_text,lower_case,tokenized_data,label
0,1,Besides these forests naturally developed fore...,Besides these forests naturally developed fore...,besides these forests naturally developed fore...,"[besides, these, forests, naturally, developed...",1
1,2,Your mother cleans the rice by separating husk...,Your mother cleans the rice by separating husk...,your mother cleans the rice by separating husk...,"[your, mother, cleans, the, rice, by, separati...",1
2,3,All free gifts of nature and all things which ...,All free gifts of nature and all things which ...,all free gifts of nature and all things which ...,"[all, free, gifts, of, nature, and, all, thing...",1
3,4,Humanism - the concept that man is the measure...,Humanism the concept that man is the measure ...,humanism the concept that man is the measure ...,"[humanism, the, concept, that, man, is, the, m...",1
4,5,Various designs in clothing are found dependin...,Various designs in clothing are found dependin...,various designs in clothing are found dependin...,"[various, designs, in, clothing, are, found, d...",1
...,...,...,...,...,...,...
1995,1996,Bring both the ends of threads together and pu...,Bring both the ends of threads together and pu...,bring both the ends of threads together and pu...,"[bring, both, the, ends, of, threads, together...",0
1996,1997,What is the duration of the longest day in Dec...,What is the duration of the longest day in Dec...,what is the duration of the longest day in dec...,"[what, is, the, duration, of, the, longest, da...",0
1997,1998,PotassiumProtein synthesisEnables the opening ...,PotassiumProtein synthesisEnables the opening ...,potassiumprotein synthesisenables the opening ...,"[potassiumprotein, synthesisenables, the, open...",0
1998,1999,To prevent water pollution in our country prim...,To prevent water pollution in our country prim...,to prevent water pollution in our country prim...,"[to, prevent, water, pollution, in, our, count...",0
1999,2000,This game was used effectively in sports educa...,This game was used effectively in sports educa...,this game was used effectively in sports educa...,"[this, game, was, used, effectively, in, sport...",0

In [ ]:
df1

        St 1  St 2  Code
0         98   651     0
1        696  1870     1
2       1073  1620     0
3        167   633     0
4          4   640     0
...      ...   ...   ...
155946   546  1512     1
155947   720  1902     1
155948  1112  1591     0
155949   396  1472     1
155950  1021  1680     0

[155951 rows x 3 columns]

In [ ]:
def our_label(st1,st2):
  our_label = 1
  if df2[df2['Unique id'] == st1]['label'].values[0] == df2[df2['Unique id'] == st2]['label'].values[0]:
    our_label = 0
  return our_label

In [ ]:
y=np.zeros(len(df1))

In [ ]:
No_of_correct = 0
for x in range(df1.shape[0]):
  row = df1.iloc[x]
  s1 = row['St 1']
  s2 = row['St 2']
  if our_label(s1,s2) == row['Code']:
    No_of_correct = No_of_correct + 1
    y[x]=1

In [ ]:
errors=pd.DataFrame()
=0
for x in len(y):
  if y[x]==0:
    errors[y]=df1[x]
    y=y+1

SyntaxError: ignored

In [ ]:
No_of_correct*100/df1.shape[0]

92.0859757231438

In [ ]:

No_of_correct

143609

In [ ]:
df1.shape[0]

155951